@import "templatecolours.css";


body{
    background-color: skyblue;
}


header{
    background-color: white;
}

main{
    background-color: skyblue;
}

section{
      background-color: skyblue;
}





/* NAVIGATION BAR CSS */


img{
  width:50%;
  height: 600px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li{
  color:white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
* {
    box-sizing: border-box;
}
.name h1{
  color: black;
  font-size: 4em;
  text-align: center;
}
.name h3{
  color: black;
  font-size: 2em;
  text-align: center;
  opacity: 0.5;
}
body {
    margin: 0;
}

@media (max-width: 600px) {
  .name h1 {
    font-size: 2em;
    margin: 0;
  }
  .name h3 {
    font-size: 1em;
  }
}

/* INDEX PAGE PICTURE OF GIRL ON BRIDGE */
#model {
  width: 100%;
  height: 100%;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

/* TEXT BOX */
#home_text {
  border:2px solid white;
  text-align: center;
}

.gallery-image{
  width: 100%;
  height: 100%;
}


#image img{
  width:500px;
  height:500px;
}
